/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster|Playfair+Display:900');

/*Header Styles*/

body {
  position: relative;
}

.navbar-inverse{
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: rgba(51, 51, 51, .5);
}

.navbar-inverse .navbar-nav>li>a{
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: rgba(51, 51, 51, .25);
  color: #F8512F;
}

/*Carousel styles*/

.item{
  height: 425px;
  background-size: cover;
  background-position: cover;
}

.carousel-flex{
  height: 425px;
  display: flex;
  align-items: center;
}

.carousel-caption{
  margin-bottom: 45px;
}

#wood-background{
  background-image: url('../img/wood-2.jpg');
}

#carousel-logo{
  height: 250px;
}

#seating-background{
  background-image: url('../img/restaurant-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

#farm-background{
  background-image: url('../img/farm-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

button.btn-warning {
  background-color: #f8512f;
  border-color: #f8512f;
}

button.btn-warning:hover{
  background-color: #d34326;
  border-color: #d34326;
}

/*Our story styles*/

.lobster-text{
  font-family: 'Lobster';
}

#our-story{
  margin: 10% auto;
}

#our-story .lobster-text{
  color: #F8512F;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
  margin-bottom: 0px;
}

#our-story h3 {
  margin-top: 0px;
}

.year-text{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  position: absolute;
  z-index: 0;
  color: rgba(51, 51, 51, .125);
  font-size: 9em;
}


/*Contact styles*/

.contact-style{
  background-color: #f8512f;
  color: #fff;
  font-size: 16px;
}

.contact-style h1{
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 900;
}

.contact-style h4{
  text-transform: uppercase;
  font-weight: bold;
}

.lato-text{
  font-family: 'Lato', serif;
}

.form-style{
  background-color: #ff6938;
  border: 1px solid #fff;
  margin: 50px;
  padding: 25px 15px;
  width: 400px;
}

.form-button{
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

/*Review styles*/

.review-style {
  background-color: rgba(51, 51, 51, .65);
  color: #ffffff;
  border-radius: 5px;
}

.review-style .lobster-text {
  color: #F8512F;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
  margin-bottom: 0px;
  font-size: 60px;
}

#review {
  background-image: url('../img/food_review.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.review-para{
  font-size: 26px;
  text-shadow: 1px 1px 2px #313;
  line-height: 36px;
}

.review-flex{
  display: flex;
  align-items: center;
  height: 450px;
}


/*Start menu styles*/

#menu{
  background-image: url('../img/black_linen.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.menu-text{
  color: #fff;
  font-size: 5em;
}

.food {
  background-color: #fff;
  height: 500px;
  overflow: auto;
  padding: 8px 12px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, #menu a{
  color: #f8512f;
  text-transform: uppercase;
}

.nav-tabs.nav-justified>.active>a:hover, .nav>li>a:focus, .nav>li>a:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border: transparent;
}
